.container
    width: 90%
    max-width: 1256px
    margin: auto
.row 
    display: flex
    align-items: 
    justify-content: space-between
    &--comand
        justify-content: center
.col
    &-30
        width: 31%
        margin: 0 15px
        &--comand
            width: 19.42rem
            margin: 0 54px
    &-40
        width: 39%
    &-50
        width: 55%
    &-60
        width: 60%
    &-steps
        &-30
            width: 31%
        &-70
            margin-top: -88px
            margin-left: 30px
            width: 65%