.header
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 99
    background-color: $dark
    padding: 1.71rem 0
    &__button
        padding: 0.85rem 1.5rem 0.85rem 1.428rem
.menu
    display: flex
    justify-content: space-between
    align-items: center
.logo
    font-weight: 500
    font-size: 1.075rem
    line-height: 1.14rem
    
    text-transform: uppercase
    & a
        color: $primary
        outline: none
        text-decoration: none
.nav
    margin-left: 1.4rem
    &__item
        font-style: normal
        font-weight: normal
        font-size: 1rem
        line-height: 1.14rem
        color: $light
        text-decoration: none
        text-transform: uppercase
        margin-right: 2.66rem
        transition: 0.2
        &:hover
            color: $primary
            transition: all 0.4s
.phone
    color: $primary
.header
    &__phone
        margin-right: 3.214rem